@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 96.1%;
    --foreground: 210 29% 24%;
    --card: 0 0% 100%;
    --card-foreground: 210 29% 24%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 29% 24%;
    --primary: 39 90% 51%;
    --primary-foreground: 210 29% 24%;
    --secondary: 210 20% 92%;
    --secondary-foreground: 210 29% 24%;
    --muted: 210 20% 92%;
    --muted-foreground: 210 29% 44%;
    --accent: 168 76% 60%;
    --accent-foreground: 210 29% 24%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 88%;
    --input: 210 20% 88%;
    --ring: 212 71% 59%;
    --radius: 0.5rem;

    --frontend: 212 71% 59%;
    --backend: 168 76% 60%;
  }

  .dark {
    --background: 210 29% 14%;
    --foreground: 210 40% 96.1%;
    --card: 210 29% 16%;
    --card-foreground: 210 40% 96.1%;
    --popover: 210 29% 14%;
    --popover-foreground: 210 40% 96.1%;
    --primary: 39 90% 51%;
    --primary-foreground: 210 29% 24%;
    --secondary: 210 29% 20%;
    --secondary-foreground: 210 40% 96.1%;
    --muted: 210 29% 20%;
    --muted-foreground: 210 40% 70%;
    --accent: 168 76% 60%;
    --accent-foreground: 210 29% 24%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 29% 25%;
    --input: 210 29% 25%;
    --ring: 212 71% 59%;
    
    --frontend: 212 71% 59%;
    --backend: 168 76% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
